@model Store.Web.Models.EditUserViewModel

<div class="form-group">
    <label asp-for="Nombres" class="control-label"></label>
    <input asp-for="Nombres" class="form-control" />
    <span asp-validation-for="Nombres" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Apellidos" class="control-label"></label>
    <input asp-for="Apellidos" class="form-control" />
    <span asp-validation-for="Apellidos" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Direccion" class="control-label"></label>
    <input asp-for="Direccion" class="form-control" />
    <span asp-validation-for="Direccion" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>